<div class="container">
  <div class="bg-beige mb-5">
    <img src="../../../assets/universallyLogo.png" />
    <p class="lead">
      Anything from moons to planets to stars, this is the one-stop-shop for all
      celestial bodies
    </p>
    <hr class="my-4" />
    <p class="text-center">Start your galactic adventure today!</p>
    <p class="lead text-center">
      <a class="btn btn-primary btn-lg" href="/inventory" role="button"
        >Browse Now</a>
    </p>
  </div>
  <div class="d-flex flex-row justify-content-around">
    <div class="bg-grape img-card d-flex flex-column justify-content-center">
      <img src="../../../assets/earth.png">
      <h2>Planets</h2>
      <p>Looking at you, Pluto</p>
    </div>
    <div class="bg-grape img-card d-flex flex-column justify-content-center">
      <img src="../../../assets/sun.png">
      <h2>Stars</h2>
      <p>Light up your day</p>
    </div>
    <div class="bg-grape img-card d-flex flex-column justify-content-center">
      <img src="../../../assets/moon.png">
      <h2>Moons</h2>
      <p>Served with crackers</p>
    </div>
  </div>
</div>
